:root {
  --black: #0f0f0f;
  --red: #008170;
  --white: #005b41;
  --fontNosifer: "Nosifer", sans-serif;
  --fontMetalMania: "Metal Mania", system-ui;
  --font-size25: 25px;
}

body {
  background-color: var(--black);
}
.profil
{
    display: none;
}
.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.annonce{
    font-family: "Metal Mania", system-ui;
    font-size: 20px;
    color: red;
    border: 3px solid red;
    border-radius: 5px;
    border-shadow: 1px 1px 1px red;
    letter-spacing: 2px;
    padding: 5px;
    animation-duration: 3s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
 }
 @keyframes clignoter {
   0%   { opacity:0.7; }
   40%   {opacity:0.2; }
   100% { opacity:0.7; }
 }
h1 {
  text-align: center;
  font-size: 90px;
  font-family: var(--fontNosifer);
  color: var(--red);
}

h3 {
  text-align: center;
  font-size: var(--font-size25);
  font-family: var(--fontMetalMania);
  color: white;
  text-shadow: 2px 2px 2px var(--red);
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  font-size: 35px;
}

.presentation {
  display: flex;
  justify-content: center;
  width: 100%;
}
p {
  text-align: justify;
  display: flex:
  justify-content: space-between;
  font-size: 25px;
  font-family: var(--fontMetalMania);
  color: white;
  text-shadow: 2px 2px 2px var(--red);
  letter-spacing: 2px;
  width: 98%;
  margin: 20px 10px 30px 10px;
}

.photos {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

#photo1 {
  width: 33%;
  height:auto;
  border-radius: 40px 5px 5px 40px;
  border: 3px solid var(--white);
}
#photo2 {
width: 33%;
  height:auto;
  border: 3px solid var(--white);
  margin: 0px 3px 0px;
}
#photo3 {
  width: 33%;
  height:auto;
  border-radius: 5px 40px 40px 5px;
  border: 3px solid var(--white);
}
#photo4 {
    width: 33%;
    height: 427px;
    border-radius: 40px 5px 5px 40px;
    border: 3px solid var(--white);
    object-fit: cover;
}
#photo5 {
    width: 33%;
    height: 427px;
    border: 3px solid var(--white);
  }

  #photo6 {
    width: 33%;
    height: 427px;
    border-radius: 5px 40px 40px 5px;
    border: 3px solid var(--white);
    margin 0px 0px 2px;
  }

#prenom {
  color: var(--red);
}
.icon.facebook {
    width: 50px; 
    fill: #008170; 
  }

.icon.insta {
    width: 50px; 
    fill: #008170; 
  }
h4
{
    font-family: var(--fontMetalMania);
    font-size: 25px;
    color: var(--red);
}
  .socials
  {
    display: flex;
    justify-content:space-between;;
    align-items: center;
    width: 100%;
    height: 100px;
  }
  @media screen and (max-width: 1000px) {
    h1{
        font-size: 65px;
    }
  }

}
@media screen and (max-width: 750px) {
  h1{
      font-size: 50px;
  }
  h4{
    font-size: 15px;
  }
}

@media screen and (max-width: 530px) {
    .annonce{
        font-size: 15px;
    }
  h1 {
    font-size: 45px;
    max-width: 100%;
  }

  h3 {
    text-align: center;
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
  .photos {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .profil
{
    display: block;
    text-align: center;
}
  #photo1 {
    width: 99%;
    border-radius: 5px ;
    border: 3px solid var(--white);
    margin : 0px 0px 2px;
  }
  #photo2 {
    width: 99%;
    border-radius: 5px;
    border: 3px solid var(--white);
    margin : 0px 0px 2px;
  }
  #photo3 {
    width: 99%;
    border-radius: 5px;
    border: 3px solid var(--white);
    margin : 0px 0px 2px;
  }
    #photo4 {
        width: 99%;
        border-radius: 5px;
        border: 3px solid var(--white);
        margin: 0px 0px 2px;
        object-fit: cover;
    }
  #photo6 {
    width: 99%;
    border-radius: 5px;
    border: 3px solid var(--white);
    margin : 0px 0px 2px;
  }
  #photo5 {
    display: none;
  }
}
